.container {
    display: auto;
    padding: 10px;
    flex-wrap: wrap;
    justify-content:left;
    background-color: #d1da60;

}
.content {
    display: flex;
    padding: 30px;
    margin-top: 0;
    flex-wrap: wrap;
    justify-content:center;  
}
.form-control{
    width: 20%;
  }
  input[type=search]
  {
    float: right;
    border:1px solid #0af;
    margin-bottom: 15px;
  }
  .form-control{
    width: 25%;
  }
  input[type=search]
  {
    float: right;
    border:1px solid #0af;
    margin-bottom: 10px;
  }
